.NavigationMain__button-register {
    text-decoration: none;
	font-style: normal;
	font-weight: normal;
    width: 77px;
    height: 32px;
    margin-right: 30px;
    color: rgb(255, 255, 255);
}

.NavigationMain__button-register:hover {
    opacity: 0.8;
    cursor: pointer;
}

.NavigationMain__button-open {
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 3%;
    color: black;
    background-color: rgb(43, 224, 128);
}

.NavigationMain__button-open:hover {
    opacity: 0.8;
    cursor: pointer
}

@media (max-width: 767px) {
    .NavigationMain__button-register {
        padding: 5px 12px;
        margin-right: 14px;
    }

    .NavigationMain__button-open {
        width: 54px;
        height: 26px;
    }
}
