.AboutProject {
    padding:110px 70px;
}

.AboutProject__title {
    height: 40px;
    margin: 0;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    border-bottom: 1px solid  rgb(0, 0, 0);
}

.AboutProject__info {
    margin: 70px 0 110px;
    display: flex;
}

.AboutProject__paragraph:first-child {
    margin-right: 40px;
}

.AboutProject__paragraph-title {
    margin: 0;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.AboutProject__paragraph-description {
    margin: 26px 0 0 0;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.AboutProject__visual-info {
    margin: 0 70px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, 36px);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.AboutProject__visual-info div {
    padding-top: 9px;
}

.AboutProject__one-week {
    background-color: #2BE080;
}

.AboutProject__four-week {
    background-color: #F2F2F2;
}

.AboutProject__back-end {
    font-weight: 500;
    color: #A0A0A0;
}

.AboutProject__front-end {
    font-weight: 500;
    color: #A0A0A0;
}

@media (max-width: 1279px) {
    .AboutProject {
        padding: 90px 50px;
    }

    .AboutProject__info {
        margin: 70px 0 93px;
    }

    .AboutProject__paragraph:first-child {
        margin-right: 30px;
    }

    .AboutProject__paragraph-description {
        margin: 22px 0 0 0;
        font-size: 12px;
    }

    .AboutProject__visual-info {
        margin: 0 50px;
        grid-template-rows: repeat(2, 35px);
        font-size: 11px;
        line-height: 13px;
    }
}

@media (max-width: 767px) {
    .AboutProject {
        padding: 70px 18px;
    }

    .AboutProject__title {
        font-size: 18px;
    }

    .AboutProject__info {
        margin: 60px 0;
        flex-direction: column;
    }

    .AboutProject__paragraph:first-child {
        margin: 0 0 56px 0;
    }

    .AboutProject__paragraph-title {
        font-size: 18px;
    }

    .AboutProject__paragraph-description {
        margin: 16px 0 0 0;
        font-size: 11px;
    }

    .AboutProject__visual-info {
        margin: 0 18px;
        grid-template-rows: repeat(2, 35px);
        font-size: 11px;
        line-height: 13px;
    }
}