.Techs {
    padding:110px 70px;
    background-color: rgb(245, 245, 245);
}

.Techs__title {
    height: 40px;
    margin: 0;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    border-bottom: 1px solid  rgb(0, 0, 0);
}

.Techs__paragraph {
    margin: 90px 0 100px;
}

.Techs__paragraph-title {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
}

.Techs__description {
    margin: 12px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.Techs__list {
    width: 690px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7, 90px);
    grid-template-rows: repeat(1, 60px);
    grid-gap: 10px;
    list-style-type: none;
}

.Techs__item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    background: #E8E8E8;
}

@media (max-width: 1279px) {
    .Techs {
        padding: 90px 50px;
    }

    .Techs__paragraph {
        margin: 80px 0 83px;
    }

    .Techs__description {
        margin: 18px 0 0 0;
        font-size: 12px;
        line-height: 18px;
    }

    .Techs__item {
        font-size: 12px;
        line-height: 15px;
    }

    .Techs__list {
        width: 648px;
        grid-template-columns: repeat(7, 84px);
        grid-template-rows: repeat(1, 57px);
    }
}

@media (max-width: 767px) {
    .Techs {
        padding: 70px 18px;
    }

    .Techs__title {
        font-size: 18px;
    }

    .Techs__paragraph {
        margin: 60px 0 50px;
    }

    .Techs__paragraph-title {
        font-size: 30px;
        line-height: 36px;
    }

    .Techs__description {
        margin: 24px 0 0 0;
        font-size: 11px;
        line-height: 16px;
    }

    .Techs__list {
        width: 198px;
        grid-template-columns: repeat(2, 84px);
        grid-template-rows: repeat(4, 57px);
        grid-gap: 10px;
    }
}