.Header {
    height: 74px;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    background-color: rgb(7, 48, 66);
}

@media (max-width: 1279px) {
    .Header {
        padding:0 30px;
    }
}

@media (max-width: 767px) {
    .Header {
        padding: 0 14px;
        font-size: 10px;
    }
}


