.Promo {
    height: 524px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../../images/Promo/Promo__image.svg') no-repeat center;
    background-size: 320px;
    color: white;
    background-color: rgb(7, 48, 66);
}

.Promo__title {
    max-width: 730px;
    margin: 0;
    font-style: normal;
	font-weight: 400;
	font-size: 50px;
}

@media (max-width: 767px) {
    .Promo {
        background-size: 248px;
    }

    .Promo__title {
        font-style: normal;
        font-weight: 400;
        font-size: 31px;
    }
}
