.FilterCheckbox {
    display: flex;
    justify-content: center;
}

.FilterCheckbox__text {
    margin: 0 12px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.FilterCheckbox__button {
    width: 36px;
    height: 20px;
}

.FilterCheckbox__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 1279px) {

}

@media (max-width: 767px) {
    .FilterCheckbox__text {
        margin: 0 13px 0 0;
    }
}