.Navigation {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Navigation__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.Navigation__button-Close {
    display: none;
}

.Navigation__item {
    padding-top: 7px;
    margin-left: 20px;
}

.Navigation__item:last-child {
    padding-top: 0;
    margin-left: 50px;
}

.Navigation__link {
    padding: 0;
    display: flex;
    color: black;
    text-decoration: none;
}

.Navigation__link:hover {
    opacity: 0.8;
    cursor: pointer;
}

.Navigation__text-profile {
    margin: 7px 17px 0 0;
}

.activePage {
    border-bottom: solid 1px black;
}

@media (max-width: 1279px) {
    .Navigation {
        z-index: 1;
        width: 44px;
        height: 44px;
        background: url(../../../images/Header/Navigation/Navigation__icon-menu.svg);
    }

    .Navigation__list {
        z-index: 1;
        top:0px;
        right: 0px;
        width: 520px;
        height: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        flex-direction: column;
        position: fixed;
        background-color: rgb(255, 255, 255);
    }

    .Navigation__button-Close {
        width: 33px;
        height: 33px;
        border: none;
        background: no-repeat url(../../../images/Header/Navigation/Navigation__icon-close.svg);
        background-size: cover;
        margin: 27px 27px 110px auto;
        display: block;
    }

    .Navigation__button-Close {
        opacity: 0.8;
        cursor: pointer;
    }

    .Navigation__item {
        margin: 0 auto;
    }

    .Navigation__item:last-child {
        margin: 600px auto 0;
    }

    .Navigation__link:first-child {
        margin-bottom: 22px;
    }

    .Navigation__text-profile {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }

    .hide {
        display: none;
    }
}

@media (max-width: 767px) {
    .Navigation__list {
        width: 100%;
    }
}