.Navigation {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Navigation__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.Navigation__item {
    padding-top: 7px;
}

.Navigation__item:first-child {
    margin-right: 20px;
}

.Navigation__item:last-child {
    padding-top: 0;
    margin-left: 50px;
}

.Navigation__link {
    color: black;
    text-decoration: none;
}

.Navigation__link:last-child {
    padding: 0;
    display: flex;
}

.Navigation__link:hover {
    opacity: 0.6;
    cursor: pointer;
}

.Navigation__text-profile {
    margin: 7px 17px 0 0;
}

@media (max-width: 1279px) {
    .Navigation {
        width: 44px;
        height: 44px;
        background: url(../../../images/Header/Navigation/iconMenu.svg);
    }

    .Navigation:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .Navigation__item:first-child {
        margin: 0 auto;
    }
    
    .Navigation__item:last-child {
        margin: 0 auto;
    }

    .Navigation__text-profile {
        margin-right: 3px;
    }

    .Navigation__list {
        top: 15px;
        right: 80px;
        padding: 0 7px;
        border-radius: 5px;
        flex-direction: column;
        position:absolute;
        background-color: rgb(245, 245, 245);
    }

    .hide {
        display: none;
    }
}