.AboutMe {
    padding:110px 70px;
}

.AboutMe__title {
    height: 40px;
    margin: 0;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    border-bottom: 1px solid  rgb(0, 0, 0);
}

.AboutMe__student {
    margin-top: 66px;
    display: flex;
    justify-content: space-between;
}

.AboutMe__paragraph {
    order: 1;
    max-width: 600px;
    text-align: left;
}

.AboutMe__paragraph-title {
    margin: 0 0 18px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
}

.AboutMe__paragraph-subtitle {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.AboutMe__link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.AboutMe__link:hover {
    color: #CCCCCC;
}

.AboutMe__link:first-child {
    margin: 0 20px 0 0;
}

.AboutMe__paragraph-description {
    margin: 26px 0 99px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

.AboutMe__photo {
    order: 2;
    width: 270px;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 1279px) {
    .AboutMe {
        padding: 90px 50px;
    }

    .AboutMe__student {
        margin-top: 66px;
    }

    .AboutMe__paragraph {
        max-width: 400px;
    }
    
    .AboutMe__paragraph-title {
        font-size: 40px;
        line-height: 40px;
    }
    
    .AboutMe__paragraph-subtitle {
        font-size: 12px;
        line-height: 18px;
    }
    
    .AboutMe__paragraph-description {
        margin: 20px 0 87px;
        font-size: 12px;
        line-height: 18px;
    }
    
    .AboutMe__photo {
        width: 255px;
        height: 307px;
    }
}

@media (max-width: 767px) {
    .AboutMe {
        padding: 70px 14px;
    }

    .AboutMe__title {
        font-size: 18px;
        line-height: 22px;
    }
    
    .AboutMe__student {
        flex-direction: column;
        margin-top: 60px;
    }

    .AboutMe__photo {
        width: 292px;
        margin: 0 auto;
        order: 1;
    }
    
    .AboutMe__paragraph {
        margin: 40px auto 0;
        order: 2;
    }
    
    .AboutMe__paragraph-title {
        margin: 0 0 20px 0;
        font-size: 30px;
        line-height: 36px;
    }
    
    .AboutMe__paragraph-subtitle {
        font-size: 11px;
        line-height: 16px;
    }
    
    .AboutMe__paragraph-description {
        margin: 20px 0 40px;
        font-size: 11px;
        line-height: 16px;
    }
}