.NavTab {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}

.NavTab__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.NavTab__item {
    width: 96px;
    height: 26px;
    margin-right: 10px;
    padding-top: 10px;
    list-style-type: none;
    border-radius: 10px;
    background: #E8E8E8;
}

.NavTab__link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.NavTab__item:hover {
    opacity: 0.8;
}

.NavTab__item:last-child {
    margin-right: 0;
}

@media (max-width: 767px) {
    .NavTab {
        margin-bottom: 17px;
    }

    .NavTab__item {
        margin-right: 6px;
    }

    .NavTab {
        font-size: 11px;
    }
}